name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Build Image
      - name: Build Docker Image
        run: docker build . --file Dockerfile -t macmie2411999/ma-product-service:latest

#      # Test container
#      - name: Run Docker Container
#        run: docker run -p 8000:80 -d macmie2411999/ma-product-service:latest
#      - name: Set up Python
#        uses: actions/setup-python@v4
#        with:
#          python-version: '3.9'
#      - name: Install requirements
#        run: pip install pytest requests
#      - name: Run tests
#        run: pytest

      # Push tag
      - name: Login into Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push tag to Docker Hub
        run: docker push macmie2411999/ma-product-service:latest

        #mlem
